<div id="app">
    <header class="r-header">
        <div class="r-padLR4 r-borBot r-marBot">
            <h5 class="r-tit">请输入手机号码</h5>
            <div class="r-phoneWrap r-marBot">
                <span class="r-phoneWrap--span r-phoneWrap__L">+65</span>
                <span class="r-phoneWrap--span r-phoneWrap__m"></span>
                <span class="r-phoneWrap--span r-phoneWrap__R"><input name="telNum" type="number" placeholder="手机号码" /></span>
            </div>
        </div>

        <div>
            <h5 class="r-tit r-padLR4">请选择产品</h5>
            <div class="r-tab">
                <ul class="r-tab__ul">
                    <!--
                    <li class="active" data-type="1"><a href="javascript:;">话费充值</a></li>
                    <li data-type="2"><a href="javascript:;">套餐</a></li>
                    <li data-type="3"><a href="javascript:;">流量</a></li>
                    -->
                </ul>
            </div>
            <div class="r-tabContent r-padLR4">
                <ul>
                    <!--<li>
                        <span class="r-item" data-val="10" data-id="1" data-tips="• 价格: ￥111.60<br>• 【红利余额不能开通数据计划】<br>• 有效期：50天<br>• 红利账户：$12<br>• 附加账户：<br>• ➢本地话费：120分钟<br>• 本地短信/流量：500条/350MB<br>• 免费接听: 50天拨打 #100*2# 回复对应数字查询MCard$23计划余额">主账户 $10</span>
                        <span class="r-item" data-val="20">主账户 $20</span>
                        <span class="r-item" data-val="50">主账户 $50</span>
                        <span class="r-item" data-val="100">主账户 $100</span>
                        <span class="r-item" data-val="200">China 888</span>
                    </li>
                    <li class="r-hide">
                        <span class="r-item" data-val="10">套餐 $10</span>
                        <span class="r-item" data-val="20">套餐 $20</span>
                        <span class="r-item" data-val="50">套餐 $50</span>
                        <span class="r-item" data-val="100">套餐 $100</span>
                        <span class="r-item" data-val="200">China 888</span>
                    </li>
                    <li class="r-hide">
                        <span class="r-item" data-val="10">流量 $10</span>
                        <span class="r-item" data-val="20">流量 $20</span>
                        <span class="r-item" data-val="50">流量 $50</span>
                        <span class="r-item" data-val="100">流量 $100</span>
                        <span class="r-item" data-val="200">China 888</span>
                    </li>-->
                    <!--<li>
                        <div class="r-itemWrap">
                            <span class="r-item" data-val="10">主账户 $10</span>
                            <span class="r-item" data-val="20">主账户 $20</span>
                            <span class="r-item" data-val="50">主账户 $50</span>
                        </div>
                        <div class="r-itemWrap">
                            <span class="r-item" data-val="100">主账户 $100</span>
                            <span class="r-item" data-val="200">China 888</span>
                        </div>
                    </li>-->
                </ul>
            </div>
        </div>

        <p class="r-padLR4 r-tips"><!--tips--></p>

        <p class="r-backMoney"><a href="#/common/policy">退款政策</a></p>
    </header>

    <footer class="r-footer parentFlex">
        <div class="r-footer__btn childFlex" id="buy">立即购买&ensp;(¥ <span data-name="money" id="money">00.00</span>)</div>
    </footer>
</div>