<div id="app" style="text-align: center;">
    <img src="../../source/img/favicon.ico" style="display: block;margin: 0 auto;">
    <p>Start Success! Welcome To hi.html!</p>

    <br/>
    <h5>Test</h5>
    <p>Test & Index: <a data-type="url" data-key="test">Index.html</a></p>

    <br/>
    <h5>充值-url不带参，分三个页面</h5>
    <p>SingTel: <a data-type="url" data-key="SingTel">SingTel</a></p>
    <p>Starhub: <a data-type="url" data-key="Starhub">Starhub</a></p>
    <p>M1: <a data-type="url" data-key="M1">M1</a></p>

    <br/>
    <h5>充值-url带参，单页面</h5>
    <p>SingTel(index.html#/recharge/recharge?type=SingTel): <a data-type="url" data-key="recharge" data-url="SingTel">SingTel</a></p>
    <p>Starhub(index.html#/recharge/recharge?type=Starhub): <a data-type="url" data-key="recharge" data-url="Starhub">Starhub</a></p>
    <p>M1(index.html#/recharge/recharge?type=M1): <a data-type="url" data-key="recharge" data-url="M1">M1</a></p>

    <br/>
    <h5>订单</h5>
    <p>order(我的订单): <a data-type="url" data-key="order">我的订单</a></p>
    <p>orderBack(申请退款): <a data-type="url" data-key="orderBack">申请退款</a></p>

    <br/>
    <h5>退款政策</h5>
    <p>退款政策: <a data-type="url" data-key="policy">退款政策</a></p>
</div>