@import "../../vars";

$page-color: #fd8b25;

.r-tab__ul li.active a{color: $page-color; border-bottom-color: $page-color;}

.r-item{color: $page-color; border-color: $page-color;}
.r-item.active{background-color: $page-color;}