@charset "utf-8";

@import "reset";

// 块状元素水平居中
.auto{margin-left:auto; margin-right:auto;}
// 清除浮动
.fix{*zoom:1;}
.fix:after{display:table; content:''; clear:both;}
// 基于display:table-cell的自适应布局
.cell{display:table-cell; *display:inline-block; width:2000px; *width:auto;}
// 双栏自适应cell部分连续英文字符换行
.cell_bk{display:table; width:100%; table-layout:fixed; word-wrap:break-word;}
// 单行文字溢出虚点显示
.ell{text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}

/**子元素上下垂直居中**/
.parentFlex{display: flex;flex-direction: row;justify-content: center;align-items: center;}
.childFlex{flex: 1;}

.r-colorRed{color: $color-deep-red;}
.r-pad4VW{padding: 4vw;}
.r-padLR4{padding: 0 4vw;}
.r-borBot{border-bottom: 1px solid #dedddd;}
.r-marBot{margin-bottom: 15px;}
.r-hide{display: none;}
.r-fullWidth{width: 100%;}
.r-textCenter{text-align: center;}
.r-bold{font-weight: 700;}
.r-colorBg{background-color: $color-bg;}

// ##### html start #####
.r-mainContainer {width: 100%; height: 100%; overflow: hidden;}
#app{width: 100%; height: 100%; overflow-x: hidden; font-size: 1.4rem;}

// ### recharge.html ###
.r-header{position: absolute; left: 0; top: 0; width: 100%; height: calc(100% - 8.84% - 24px); padding-top: 5.2vw; overflow-y: auto; }

.r-footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 8.84%;
    z-index: 999;
    background-color: #fff;
    border-top: 1px solid #ddd;
    padding: 0 4vw;
}
.r-footer .r-footer__btn{
    width: 100%;
    //height: 64.4%;
    //line-height: 36px;
    height: 75.4%;
    line-height: 44px;
    color: #fff;
    background-color: #00b1a5;
    text-align: center;
    border-radius: 29px;
    font-size: 1.4rem;
    font-weight: 700;
    cursor: pointer;
}

.r-tit{height: 32px; line-height: 32px; font-size: 1.4rem;}

.r-phoneWrap{width: 100%; height: 32px; line-height: 32px;}
.r-phoneWrap .r-phoneWrap--span{display: inline-block; float: left;}
.r-phoneWrap .r-phoneWrap__L{min-width: 40px; width: 15%; margin-right: 2%; text-align: center; font-size: 1.4rem;}
.r-phoneWrap .r-phoneWrap__m{width: 1px; height: 100%; margin-right: 2%; border-right: 1px solid $color-border; box-shadow: -1px 0px 10px 0px rgba(0,0,0,0.25);}
.r-phoneWrap .r-phoneWrap__R{max-width: calc(100% - 40px - 4% - 1px); width: calc(100% - 15% - 4% - 1px); height: 100%;}
.r-phoneWrap__R input{width: 100%; height: 100%; padding: 0 5px;}
.r-phoneWrap:after{@include _clear();}

$default-page-color: #00b1a5;
.r-tab{
    width: 100%;
    height: 6%;
    font-size: 16px;
    color: #666;
    margin-bottom: 10px;
}
.r-tab .r-tab__ul{
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.r-tab__ul li{
    width: 33.333333333%;
    height: 100%;
    line-height: 40px;
    text-align: center;
}
.r-tab__ul li a{
    height: 100%;
    display: inline-block;
    color: #666;
    min-width: 60px;
    border-bottom: 2px solid transparent;
    font-size: 16px;
}
.r-tab__ul li.active a{color: $default-page-color; border-bottom-color: $default-page-color;}

.r-tabContent{margin-bottom: 15px;}
.r-tabContent, .r-tabContent > ul, .r-tabContent > ul > li, .r-itemWrap{width: 100%;}
.r-tabContent > ul > li{
    &:after{
        @include _clear();
    }
}
.r-tabContent .r-itemWrap{margin-bottom: 10px;}
.r-item{
    width: calc((100% - 4vw) / 3);  // margin: 2vw * 2
    height: 40px;
    line-height: 40px;
    display: block;
    float: left;
    border: 1px solid $default-page-color;
    border-radius: 4px;
    color: $default-page-color;
    text-align: center;
    cursor: pointer;
    margin-bottom: 10px;

    margin-right: 2vw;
    &:nth-child(3n){margin-right: 0;}

    &.active{color: #fff; background-color: $default-page-color;}
}
//.r-item:not(:last-child){margin-right: 2vw;} // FIXME

.r-tips{
    > li{list-style: disc;}
}
.r-backMoney{position: absolute; left: 0; bottom: 8.84%; text-align: center; width: 100%; height: 24px; line-height: 24px;}

// ### order.html ###
// 头部
.r-section__head{
    position: absolute;
    top: 0;
    width: 100%;
    height: 6%;
    font-size: 16px;
    color: #666;
    background-color: #fff;
    //margin-bottom: 10px;
}
.r-section__head .r-head__ul{
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.r-head__ul li{
    width: 33.333333333%;
    height: 100%;
    line-height: 40px;
    text-align: center;
}
.r-head__ul li a{
    height: 100%;
    display: inline-block;
    color: #666;
    min-width: 60px;
    border-bottom: 2px solid transparent;
    font-size: 16px;
}
.r-head__ul li.active a{
    color: $default-page-color;
    border-bottom-color: $default-page-color;
}

// 中间
.r-article{
    width: 100%;
    //height: calc(100% - (6% + 10px));
    height: calc(100% - 6%);
    position: absolute;
    //top: calc(6% + 10px);
    top: 6%;
    padding-top: 10px; // xx
    bottom: 0;
    overflow-y: auto;
}
.r-article .r-article__ul{}
.r-article__ul li{width:100%;display: block;background-color: #fff; cursor: pointer;}
.r-article__ul li:not(:last-child){margin-bottom: 10px;}

.r-article__ul li .r-article__ul--head{height: 40px; line-height: 40px; color: #333;/*padding: 0 4vw;*/ padding: 0 8vw 0 4vw; border-bottom: 1px solid #ddd;}
.r-article__ul--head .r-icon{
    width: 16px;
    height: 100%;
    display: inline-block;
    font-style: normal;
    background: url("icons/08_icon_post.png") no-repeat center;
    background-size: 100% auto;
    margin-right: 8px;
    position: relative;
}
.r-icon--active:after{
    display: block;
    width: 8px;
    height: 8px;
    content: '';
    background-color: red;
    border-radius: 4px;
    position: absolute;
    top: 8px;
    right: 0;
}

.r-article__ul--head .r-code{
    height: 100%;
    line-height: 40px;
    display: inline-block;
    vertical-align: top;
}
.r-article__ul--head .r-status{float: right; color: #00b1a5; font-weight: 700;}
.r-article__ul--head:after{clear: both;content: '';width: 0;height: 0;}

.r-article__ul li .r-article__ul--center{
    width: 100%;
    padding: 10px 4vw;

    &:after{ @include _clear();}
}
.r-article__ul--center .r-p{word-wrap: break-word; margin-bottom: 15px;}
.r-article__ul--center .r-time{color: #999; display: inline-block;}

.r-article__ul li .r-article__ul--foot{height: 54px;border-top: 1px solid #ddd;justify-content:flex-end; padding: 0 4vw;}
.r-article__ul--foot .r-click{width: 22.67%;height: 29px; line-height: 29px; border: 1px solid #00b1a5;border-radius: 29px;text-align: center; color: #00b1a5;}
.r-btnWrap{justify-content:flex-end; display: inline-block; float: right;}
.r-btnWrap .r-click{display: inline-block; padding: 4px 4vw; border: 1px solid #00b1a5; border-radius: 29px;text-align: center; color: #00b1a5; font-weight: 700;}

table{
    tr, td{
        height: 24px;
        line-height: 24px;
    }

    [row="1"]{width: 40%;}
    [row="2"]{width: 40%;}
    [row="3"]{width: 20%;}

    .font-bold{
        td{font-weight: 700;}
    }
}

// ## policy.html
.r-policyWrap{
    h5:not(:first-of-type){margin-top: 4vw;}

    p{
        padding: 4px 0;

        &.r-padLR4{padding: 4px 2vw;}
    }

}

// ## tips.html
.r-tipWrap{
    position: fixed;
    right: 10px;
    bottom: 20%;
    cursor: pointer;
    //width: 50px;
    //height: 50px;
    //background-color: rgba(0, 177, 165, 0.8);

    .r-tipWrap--cri{
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        border-radius: 50%;
        //background-color: #fff;
        //color: #00b1a5;
        background-color: rgba(0, 177, 165, 0.8);
        box-shadow: 0 1px 8px 1px rgba(0,0,0,.3);
        color: #fff;
        z-index: 50;

        /*&:after{
            display: block;
            width: 0;
            height: 0;
            content: '';
            position: absolute;
            bottom: 0;
            right: 0;

            border-bottom: 10px solid rgba(0, 177, 165, 0.8);
            border-right: 10px solid transparent;

            z-index: 2;
        }*/
    }
}

